.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.mdl-card__title-text {
    background: rgba(0,0,0,0.7);
    padding: 0.3em;
    border-radius: 0.1em;
}
.mdl-card__supporting-text {
    text-align: center;
    flex: 2;
}
b {
    font-size: 1.2em;
}
.status-bar {
    display: block;
    width: 100%;;
    height: 0;
    flex: 0;
}

.status-bar.open {
    background: repeating-linear-gradient( 45deg, #61a83e, #61a83e 10px, #365d22 10px, #365d22 20px );
}

.status-bar.closed {
    background: repeating-linear-gradient( 45deg, #a93e3e, #a93e3e 10px, #5d2222 10px, #5d2222 20px );
}

.status-bar.future {
    background: repeating-linear-gradient( 45deg, #503ea8, #503ea8 10px, #2c225d 10px, #2c225d 20px );
}

html {
    background: #ccc;
}

.time {
    font-family: Clock;
    font-size: 3em;
}