<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-security-policy" content="
    default-src 'self';
    script-src 'self' code.getmdl.io code.jquery.com cdnjs.cloudflare.com www.google-analytics.com;
    img-src 'self' www.google-analytics.com stats.g.doubleclick.net;
    style-src 'self' fonts.googleapis.com fonts.gstatic.com;
    font-src 'self' fonts.gstatic.com">
    <meta charset="UTF-8">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#2d3a4a">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RHUL Food Finder - {{title}}</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/icon.png">
    <meta name="description" content="A simple tool (still in beta) to find the nearest place on campus that is open and that you can get food from at Royal Holloway, Univeristy of London">
    <script src="/res/jq.js"></script>
    <script src="/res/hbr.js"></script>

    <script defer src="/res/material.js"></script>
    <script defer src="/js/templates.js"></script>
    {{#> page_head}}{{/page_head}}
    <script src="/installer.js"></script>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/"><img class="img-icon" src="/img/icon.svg"></a>
            <h1 class="mdl-layout-title"><div>RHUL Food Finder</div><div><i>{{title}}</i></div></h1>
            <div class="mdl-layout-spacer"></div>
{{#> end_header}}{{/end_header}}
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell--10-col mdl-cell mdl-grid" id="pageContent">
                {{#> content}}{{/content}}
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </main>
    <footer class="mdl-mega-footer" id="footer">Made by <a href="https://www.jrtapsell.co.uk">James Tapsell</a>, this site is not affiliated with Royal Holloway, nor its SU, all times are for food service only</footer>
</div>
</body>
</html>